
  <form action="/search/{{ user_id }} }" method="post">
       <div class="navbar-form navbar-right">
         <div class="form-group">
           <input type="text" id="searchName" name="searchName" class="form-control" placeholder="Search Users">
         </div>
       </div>
  </form>
