
  <form action="/search" method="post">
       <div class="navbar-form navbar-right">
         <div class="form-group">
           <input type="text" id="searchName" name="searchName" class="form-control" placeholder="Search Contacts">
         </div>
       <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
       </div>
  </form>
