<ul id="nav-mobile" class="side-nav fixed">
  <li class="logo"><a id="logo-container" href="#" class="brand-logo center">everydone</a>
  </li>
   <li class="no-padding">
     <ul class="collapsible collapsible-accordion">
       <li class="bold"><a href="#" class="collapsible-header  waves-effect waves-cyan">Home</a>
       </li>
       <li class="bold"><a class="collapsible-header  waves-effect waves-cyan">Create Group</a>
         <div class="collapsible-body">
           <ul>
             <li>{% include 'creategroup.html.twig' %}</li>
           </ul>
         </div>
       </li>
       <li class="bold"><a class="collapsible-header  waves-effect waves-cyan">Create Tasks</a>
         <div class="collapsible-body">
           <ul>
             <li><a href="#">Tasks go here</a></li>
           </ul>
         </div>
       </li>
       <li class="bold"><a class="collapsible-header  waves-effect waves-cyan">Friends</a>
         <div class="collapsible-body">
           <ul>
             <li><a href="#">Friends go here</a></li>
           </ul>
         </div>
       </li>
       <li class="bold"><a class="collapsible-header  waves-effect waves-cyan">Search Users</a>
         <div class="collapsible-body">
           <ul>
             <li>{% include 'search.html.twig' %}</li>
           </ul>
         </div>
       </li>
     </ul>
