<!DOCTYPE html>
<html>
  <head>
    <script src="../js/jquery-3.2.0.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/scripts.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <title>Social Media Event List</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <a href="/" class="brand-logo center">everydone</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">My Groups</a></li>
            <li><a href="#">My Tasks</a></li>
            <li><a href="#">My Profile</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container ">
      <div class="login-area">
        <p>Welcome to everydone, the social to-do list!</p>
      </div>
