nav {
  background: #fff;
}

nav li a{
  color: #bdbdbd;
}

body {
  color: #bdbdbd;
}

.nav-wrapper a.brand-color{
  color: red;
}
.login-area {
  padding: 60px;
}
.login-area p {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}
